div.contenedor{
  width: 100%;
  border: 1px solid gray;
}

header,footer{
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}

nav{
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav ul a{
  text-decoration: none;
}

article{
  margin-left: 170px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden;
  background-color: #cccccc;
  background-repeat: repeat-y;
}

span#hmexico {
  color: rgb(53, 203, 34);
  text-align:center;
}
span#hparis {
  color: rgb(28, 138, 240);
  text-align:center;
}
span#htokyo {
  color: rgb(194, 68, 46);
  text-align:center;
}
span#hlondres {
  color: rgb(233, 69, 36);
  text-align:center;
}
p{
  margin-left:250px;
}
h1{


  text-align: center;
}
.banderamx{
      background-image: url(../img/b01.svg);
}
.banderaldn{
      background-image: url(../img/b03.svg);
}
.banderatko{
      background-image: url(../img/b04.svg);
}
.banderaprs{
      background-image: url(../img/b02.svg);
}
