*{
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(67, 126, 240);
}


body{
  border: 3px solid rgb(27, 23, 47);
  top: 18%;
  left: 32%;
  width: 500px;
  height: 450px;
  /* background: rgb(22, 233, 254); */
  /* border-radius: 1em; */
  position: absolute;
  display:inline-block;
}
h1 span{
  font-weight: bold;
}

::placeholder{
color: rgb(56, 55, 55);
}
 .input{
   top: 20%;
	border: none;
	border-bottom: 2px solid #666666;
	outline: none;
  width: 10em;
	height: 30px;
	color: #000000;
	background: transparent;
	font-size: 14px;
	padding-left: 5px;
  margin-right: 5px;
  /* margin-top: 50%; */
	box-sizing: border-box;
}
h3{
  padding-top: 1.5em;
}
/* h1{
  margin-top: 1em;
  position: relative;
}
h3{
  margin-top: 10em;
  position: relative;
  width: 490px;
  background: rgb(22, 233, 254);
  border:  none;
  top: 18%;
  left: 32.5%;
  padding-top: 9px;
  padding-bottom: 5px;
  margin-bottom: 5px;
} */

.input:focus{
  border-bottom: 2px solid #0f0af7;
}

input[type="submit"]{
	border: none;
	outline: none;
  width: 6em;
	height: 40px;
	font-size: 16px;
	background: #ed292a;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
  top: 90%;
  left: 50%;
  /* margin-left: -35px;
  margin-top: 50em; */
}

input[type="submit"]:hover{
	background: #bb0001;
	transition: .5s;
}
