body{
  text-align: center;
}
/* rojo */
#cajamain{
  border: 3px solid rgb(235, 40, 40);
  width: 1000px;
  height: 500px;
  margin: 15px auto;
}

/* cajas azules */
.cajabase{
  border: 3px solid rgb(11, 137, 191);
  width: 200px;
  height: 280px;
  margin: 50px;
  display: inline-block;
  font: bold 18px Montserrat, sans-serif;
  background-size: 50px;
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

#caja1{
  background-position: bottom left;
}
#caja2{
  background-position: top right;
}
#caja3{
  background-position:center;
}
